<tr>
  <td>
    <%= gravatar_for user, size: 52 %>
  </td>
  <td>
    <%= link_to user.name, user %>
  </td>
  <td>
    <a href="mailto:<%= user.email %>"><%= user.email %></a>
  </td>
  <% if current_user.admin? && !current_user?(user) %>
    <td>
      <%= link_to "Edit", edit_user_path(user) %>
    | <%= link_to "Delete", user, method: :delete,
                          data: { confirm: "You sure?" } %>
    </td>
  <% end %>
  </td>
</tr>
