<% provide(:title, @user.name) %>
<div class="row">
  <section>
    <h1> 
      <%= @user.name %>
      <% if @user.admin? %>
        <span id='admin'>[Admin]</span>
      <% end %>
    </h1>
  </section>
</div>
<div class="row">
  <aside class="span4">
    <section>
      <%= gravatar_for @user, :size => 300 %>
    </section>
  </aside>
  <bside class ="span8"
  <section>
    <table class="table table-striped">
      <tr>
        <td>Id: </td>
        <td><%= @user.id %></td>
      </tr>
      <tr>
        <td>Email:</td>
        <td><a href="mailto: <%= @user.email %>"><%= @user.email %></a></td>
      </tr>
      <tr>
        <td>Created At: </td>
        <td><%= l @user.created_at.localtime %></td>
      </tr>
      <tr>
        <td>Last Updated:</td>
        <td><%= l @user.updated_at.localtime %></td>
      </tr>
    </table>
    </section>
  </bside>
</div>
<div class="row">
  <div class="span4">
    &nbsp;
  </div>
  <div class ="span8"
    <% if @user.microposts.any? %>
      <h3>Microposts (<%= @user.microposts.count %>)</h3>
      <ol class="microposts">
        <%= render @microposts %>
      </ol>
      <%= will_paginate @microposts %>
    <% end %>
  </div>
</div>
